<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/FragmentsCSS/Fragments.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css}" rel="stylesheet" />
</head>

<body>
    <header id="web-header">
        <i class="close ri-close-large-line"></i>
        <figure>
            <img th:src="@{/Images/logo.png}" alt="404! Cannot Load Logo">
        </figure>
        <nav>
            <ul type="none">
                <section>
                    <h1>Main</h1>
                    <li>
                        <span>Home</span>
                        <span>Home</span>
                    </li>
                    <li>
                        <span>About</span>
                        <span>About</span>
                    </li>
                </section>
                <section>
                    <h1>Services</h1>
                    <li>
                        <span>Basic Computer</span>
                        <span>Basic Computer</span>
                    </li>
                    <li>
                        <span>Full Stack</span>
                        <span>Full Stack</span>
                    </li>
                    <li>
                        <span>Individual Courses</span>
                        <span>Individual Courses</span>
                    </li>
                </section>
                <section>
                    <h1>How To</h1>
                    <li>
                        <span>Admin Login</span>
                        <span>Admin Login</span>
                    </li>
                    <li>
                        <span>Help</span>
                        <span>Help</span>
                    </li>
                    <li>
                        <span>Contact Us</span>
                        <span>Contact Us</span>
                    </li>
                </section>
            </ul>
        </nav>
        <aside>
            <a href="#">
                <button>
                    <span>Logout</span>
                    <i class="ri-logout-box-r-line"></i>
                </button>
            </a>
        </aside>
    </header>
    <main id="web-main">
        <i class="menu ri-menu-2-line"></i>
        <section id="services">
            <h1>Course Certificates..</h1>
            <div id="certificates">
                <div id="individual" class="certificate">
                    <h1>Individual Course</h1>
                    <p>Basic Computer, Excel, Tally, C / C++, Java, Python & more..</p>
                    <a id="individual-course-button" href="#individual-course">
                        <h1>Register</h1>
                    </a>
                </div>

                <div id="full-stack" class="certificate">
                    <h1>Full Stack</h1>
                    <p>Java FullStack, MERN Stack, MEAN Stack..</p>
                    <p></p>
                    <a id="full-stack-button" href="#full-stack">
                        <h1>Register</h1>
                    </a>
                </div>

                <div id="basic" class="certificate">
                    <h1>Computer Basics</h1>
                    <p>Computer Basics, Excel Basic, Excel Advance, Tally..</p>
                    <a id="computer-basic-button" href="#computer-basics">
                        <h1>Register</h1>
                    </a>
                </div>
            </div>
        </section>

        <section id="users">

            <!-- Individual Cource Form data -->
            <h1>Individual Course Students...</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Course</th>
                            <th>Start Date</th>
                            <th>Ending Date</th>
                            <th>Date Of Issue</th>
                            <th>Actions</th>
                            <th>Certificate Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each= "obj:${Indi_list}"> 

                            <td th:text="${obj.name}"></td>
                            <td th:text="${obj.course}"></td>    
                            <td th:text="${obj.strating_date}"></td>
                            <td th:text="${obj.ending_date}"></td>
                            <td th:text="${obj.date_of_issue}"></td>
                            <td>
                                <a href="/view">
                                    <button>View</button>
                                </a>
                            </td>
                            <td style="color: rgb(13, 225, 13); font-weight: bolder;" th:text="${obj.certificate_status}"></td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Full-Stack Cource Form data -->
            <h1>Full-Stack Course Students...</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Course</th>
                            <th>Start Date</th>
                            <th>Ending Date</th>
                            <th>Date Of Issue</th>
                            <th>Actions</th>
                            <th>Certificate Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each= "obj:${Full_list}"> 

                            <td th:text="${obj.name}"></td>
                            <td th:text="${obj.course}"></td>    
                            <td th:text="${obj.strating_date}"></td>
                            <td th:text="${obj.ending_date}"></td>
                            <td th:text="${obj.date_of_issue}"></td>
                            <td>
                                <a href="/view">
                                    <button>View</button>
                                </a>
                            </td>
                            <td style="color: rgb(13, 225, 13); font-weight: bolder;" th:text="${obj.certificate_status}"></td>

                        </tr>

                    </tbody>
                </table>
            </div>


            <!-- Basic com. Cource Form data -->
            <h1>Basic Com. Course Students...</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Course</th>
                            <th>Start Date</th>
                            <th>Ending Date</th>
                            <th>Date Of Issue</th>
                            <th>Actions</th>
                            <th>Certificate Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each= "obj:${Basic_list}"> 

                            <td th:text="${obj.name}"></td>
                            <td th:text="${obj.course}"></td>    
                            <td th:text="${obj.strating_date}"></td>
                            <td th:text="${obj.ending_date}"></td>
                            <td th:text="${obj.date_of_issue}"></td>
                            <td>
                                <a href="/view">
                                    <button>View</button>
                                </a>
                            </td>
                            <td style="color: rgb(13, 225, 13); font-weight: bolder;" th:text="${obj.certificate_status}"></td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </section>
    </main>
    
    <section id="forms">
        <a href="/">
            <i id="closeForm" class="ri-close-large-line"></i>
        </a>
        <div id="individual-course-form" class="form-wrapper">
            <form th:action= "@{/add_individ}" method="post" th:object="${individ}">
                <h1>- Individual Course -</h1>
                <input type="text" placeholder="Full Name.." th:field="*{name}"/>

                <select th:field="*{course}">
                    <option value="">Select Course..</option>
                    <option value="C/C++"> C/C++</option>
                    <option value="Java"> Java</option>
                    <option value="Python">Python</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Html/CSS">Html/CSS</option>
                    <option value="DBMS">Database(DBMS)</option>
                </select>

                <div class="input-wrap">
                    <label>Starting Date</label>
                    <input class="input-date" type="date" th:field="*{strating_date}"/>
                </div>

                <div class="input-wrap">
                    <label>Ending Date</label>
                    <input class="input-date" type="date" th:field="*{ending_date}"/>
                </div>
                <div class="input-wrap">
                    <label>Date of isssue</label>
                    <input class="input-date" type="date" th:field="*{date_of_issue}"/>
                </div>

                <input class="submit" type="submit" value="Submit">
            </form>
        </div>

      <div id="full-stack-form" class="form-wrapper">
            <form th:action= "@{/add_fullStack}" method="post" th:object="${full_stack}">
                <h1>- Full Stack -</h1>

                <input type="text" placeholder="Full Name.." th:field="*{name}"/>

                <select th:field="*{course}">
                    <option value="">Select Course..</option>
                    <option value="MERN Stack"> MERN Stack</option>
                    <option value="MEAN Stack"> MEAN Stack</option>
                    <option value="Spring Boot">Spring Boot</option>
                    <option value="Python Full-Stack">Python Full-Stack</option>
                </select>

                <div class="input-wrap">
                    <label>Starting Date</label>
                    <input class="input-date" type="date" th:field="*{strating_date}"/>
                </div>

                <div class="input-wrap">
                    <label>Ending Date..</label>
                    <input class="input-date" type="date" th:field="*{ending_date}"/>
                </div>

                <div class="input-wrap">
                    <label>Date of isssue</label>
                    <input class="input-date" type="date" th:field="*{date_of_issue}"/>
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>

        <div id="computer-basic-form" class="form-wrapper">
            <form th:action= "@{/add_basic}" method="post" th:object="${Basic}">
                <h1>- Computer Basic -</h1>
                <input type="text" placeholder="Full Name.." th:field="*{name}" required />

                <select  th:field="*{course}" required>
                    <option value="" class="option">Select Course..</option>
                    <option value="Basic computer">Basic computer</option>
                    <option value="Excel Basic">Excel Basic</option>
                    <option value="Excel Advance">Excel Advance</option>
                    <option value="Tally">Tally</option>
                </select>

                <div class="input-wrap">
                    <label>Starting Date..</label>
                    <input class="input-date" type="date"  th:field="*{strating_date}" required />
                </div>

                <div class="input-wrap">
                    <label>Ending Date..</label>
                    <input class="input-date" type="date" th:field="*{ending_date}" required />
                </div>

                <div class="input-wrap">
                    <label>Date of isssue</label>
                    <input class="input-date" type="date" th:field="*{date_of_issue}" />
                </div>

                <input class="submit" type="submit" value="Submit">
            </form>
        </div>
    </section>

    <script src="/JS/script.js"></script>
</body>

</html>