<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="./certificate.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <main>
        <div class="certificate-wrapper">
            <figure>
                <img src="./certificate-bg.jpg" alt="Certificate Image">
                <article>
                    <h1>C & C++ Language</h1>
                    <p>Completed By <b>Sarthak Parulekar</b> From <b>24/04/2024</b> to <b>30/05/2024</b> With Good
                        Proficiency Achievement.</p>
                    <p>Congratulations On a Job Well Done!</p>
                    <footer>
                        <div class="date-of-issue">
                            <b>01-04-2024</b>
                            <p class="text">Date of Issue</p>
                        </div>
                        <div class="signature">
                            <img src="" alt="Signature">
                            <p>Authorized Signatory</p>
                        </div>
                    </footer>
                </article>
            </figure>
        </div>
        <button class="download" onclick=window.print()>Download</button>
    </main>
</body>

</html>