<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" th:href="@{/CSS/certificate.css}">
    <link rel="stylesheet" th:href="@{/FragmentsCSS/Fragments.css}">
</head>

<body>
    <main>
        <div class="certificate-wrapper">
            <figure>
                <img th:src="@{/Images/certificate-bg.jpg}" alt="Certificate Image">
                <article>
                    <h1>C & C++ Language</h1>
                    <p>Completed By <b>Sarthak Parulekar</b> From <b>24/04/2024</b> to <b>30/05/2024</b> With Good
                        Proficiency Achievement.</p>
                    <p>Congratulations On a Job Well Done!</p>
                    <footer>
                        <p>Date of Issue</p>
                        <p>Authorized Signatory</p>
                    </footer>
                </article>
            </figure>
        </div>
        <button class="download" onclick=window.print()>Download</button>
    </main>
</body>

</html>